body {

    padding-top: 70px;
}

.glyph-dropdown{
    float: right;
    color: black;
}

.glyph-dropdown:hover{
    color: #337ab7;
}

.form-update-personal input[type="email"] {
    margin-bottom: 10px;
}

button{
    width: auto;
}

.form-update-personal button,
.form-update-car button,
.form-update-password button{
    width: auto;
    float: right;
}


#reset_trip,
#save_trip{
    width: auto;
    float: right;
}

.onleft{
    float: left;
    margin-left: 3px;
}

.successful{
    color: #5cb85c;
}

.notsuccessful{
    color: #d9534f;
}

#car-settings{
    margin-bottom: 10px;
}

#err-gly{
    margin-right: 10px;
}
