body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin, .form-register, .form-reset-mail, .form-reset, .register-success{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox{
    font-weight: normal;
}

.form-signin .form-control,
.form-register .form-control,
.form-reset-mail .form-control,
.form-reset .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus,
.form-register .form-control:focus,
.form-reset-mail .form-control:focus,
.form-reset .form-control:focus{
    z-index: 2;
}

.form-signin input[type="email"],
.form-register  input[type="text"],
.form-reset #inputPassword{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.form-register input[type="email"],
.form-register #inputPassword{
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin input[type="password"],
.form-register #inputConfirm,
.form-reset #inputConfirm{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-reset-mail input[type="email"]{
    margin-bottom: 10px;
}

.small-offset{
    padding-left: 10px;
}

.error{
    color: #a94442;
}



